{
  "storage_path": "/btsync/.sync",
  "vendor": "tuxpoldo",
  "display_new_version": false,
  "disk_low_priority": true,
  "lan_encrypt_data": true,
  "rate_limit_local_peers": false,
  "folder_rescan_interval": 600,
  "folder_defaults.delete_to_trash": true,
  "folder_defaults.use_dht": false,
  "folder_defaults.use_lan_broadcast": true,
  "folder_defaults.use_relay": true,
  "folder_defaults.use_tracker": true,
  "folder_defaults.known_hosts": "",
  "use_upnp": false,
  "listening_port": {{ LISTENING_PORT | default(55555) }},
  "webui": {
    "directory_root": "/btsync/",
    "listen": "0.0.0.0:{{ WEB_PORT | default(8888) }}",
    "force_https": false
  }
}